<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>

    <httpPlatform processPath="node"
                  arguments=".\app.js"
                  startupTimeLimit="60"
                  stdoutLogEnabled="false"
                  stdoutLogFile=".\logs\node">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="NODE_ENV" value="production" />
        <environmentVariable name="MONGODB_URI" value="mongodb+srv://shabanelmogy:Adam%402008@cluster0.ljxhpdb.mongodb.net/?appName=Cluster0" />
        <environmentVariable name="JWT_SECRET" value="9fK2xL#vQ8mP@7sN!4dR$2wZyT6uHcA1jXoE5bLm" />
        <environmentVariable name="FRONTEND_URL" value="https://your-frontend-domain.com" />
        <environmentVariable name="CORS_ORIGIN" value="https://pos-system-git-master-shabanelmoogys-projects.vercel.app" />
        <environmentVariable name="RAZORPAY_KEY_ID" value="your_razorpay_key_id" />
        <environmentVariable name="RAZORPAY_KEY_SECRET" value="your_razorpay_key_secret" />
        <environmentVariable name="RAZORPAY_WEBHOOK_SECRET" value="your_razorpay_webhook_secret" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
